@page "/emailChecker"
@using EmailChecker.Shared
@inject EmailValidator.EmailValidatorClient EmailClient

<h1>Invoke gRPC service</h1>

<p>
    <input @bind="_value" type="text" placeholder="Type your email"/>
    <button @onclick="CheckEmail" class="btn btn-primary">Check email </button>
</p>

Server response: <strong>@_response</strong>

@code {
    string _value = string.Empty;
    string _response;

    async Task CheckEmail()
    {
        var request = new EmailValidateRequest() {Email = _value};
        var reply = await EmailClient.ValidateEmailAsync(request);
        _response = reply.Message;
    }

}