@page "/technology"

<div class="container-fluid">
    <h1>Technology</h1>
    <ul class="list-group">
      <li class="list-group-item">Blozor WebAssembly (client side)</li>
      <li class="list-group-item">gRPC</li>
      <li class="list-group-item">Azure deploy</li>
    </ul>
</div>